<footer class="block text-sm text-gray-500 sm:text-center dark:text-gray-400 border-t py-6 mt-16">
    <p>Dibuat oleh <span class="font-bold">Alvin and The Chipmunks</span> </p>
    <div>
        <p>Alvin Mishael Halim - Alexander Bleuvito Fevrier</p>
        <p>Dearen Hippy - William Nehemia</p>
    </div>
</footer>