<title>header</title>
<link rel="stylesheet" type="text/css" href="header.css">
<header>
    <div class="containerall">
        <div class="containerhome">
            <a href="/home">Home</a>
        </div>
        <div class="containergraf">
            <a href="/halamangraf">Graf</a>
        </div>
        <div class="containerpilihbuku">
            <a href="/pilihbuku">Pilih Buku</a>
        </div>
        <div class="containerfrekuensi">
            <a href="/frekuensikarakter">Frekuensi</a>
        </div>
    </div>
</header>