<link rel="stylesheet" type="text/css" href="output.css">
<header class="py-6 px-24 mx-auto">
    <nav>
        <div class="container flex justify-center mx-auto">
            <a href="/">
                <img src="game-of-thrones-fonts-1-removebg-preview.png" />
            </a>
        </div>
        <div id="nav-links" class="flex justify-center space-x-12">
            <a href="/" class="hover:text-sub-color">Home</a>
            <a href="/pilih-buku" class="hover:text-sub-color">Pilih Buku</a>
            <a href="/pilih-nama" class="hover:text-sub-color">Pilih Nama</a>
            <a href="/graf" class="hover:text-sub-color">Graf</a>
        </div>
    </nav>
</header>