<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="pilihBuku.js"></script>
    <link rel="stylesheet" href="output.css" />
    <title>Game of Thrones: Pilih Buku</title>
</head>

<body class="bg-body font-poppins text-2xl text-text-color  mx-auto">
    <%- include('header.ejs') %>
    <div id="content-wrapper" class="px-24 mx-auto mt-8">
        <div id="form-wrapper" class="bg-pattern-pilih-buku bg-cover pt-52 pl-20 pb-20 rounded-lg">
            <h1 class="text-5xl font-bold mb-6">TOP-10 karakter yang paling banyak berinteraksi dengan karakter lain
            </h1>
            <form action="">
                <div class="grid grid-cols-3 gap-1 w-1/2">
                    <label for="pilih-buku">Pilih buku</label>
                    <select name="buku" id="pilih-buku"
                        class="col-span-2 focus:border-2 focus:border-sub-color rounded-md text-black">
                        <option value="1">Buku 1 : A Game of Thrones </option>
                        <option value="2">Buku 2 : A Clash of Kings</option>
                        <option value="3">Buku 3 : A Storm of Swords</option>
                        <option value="4">Buku 4 : A Feast for Crows</option>
                        <option value="5">Buku 5 : A Dance with Dragons</option>
                    </select>

                </div>
            </form>
        </div>

    </div>

    <img src="allBook copy.png" class="mt-8 - ml-24" id="gambarBuku">
    <%- include('footer.ejs') %>
</body>

</html>