<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="pilihBuku.js"></script>
    <script defer src="path/to/chartjs/dist/chart.umd.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link rel="stylesheet" href="output.css" />
    <title>Game of Thrones: Pilih Buku</title>
</head>

<body class="bg-body font-poppins text-2xl text-text-color">
    <%- include('header.ejs') %>
    <div id="content-wrapper" class="px-24 mx-auto mt-8">
        <div id="form-wrapper" class="bg-pattern-pilih-buku bg-cover pt-52 pl-20 pb-20 rounded-lg">
            <h1 class="text-5xl font-bold mb-6">TOP-10 karakter yang paling banyak berinteraksi dengan karakter lain
            </h1>
            <form action="">
                <div class="grid grid-cols-3 gap-1 w-1/2">
                    <label for="pilih-buku">Pilih buku</label>
                    <select name="buku" id="pilih-buku"
                        class="col-span-2 focus:border-2 focus:border-sub-color rounded-md text-black">
                        <option value="1">Buku 1 : A Game of Thrones </option>
                        <option value="2">Buku 2 : A Clash of Kings</option>
                        <option value="3">Buku 3 : A Storm of Swords</option>
                        <option value="4">Buku 4 : A Feast for Crows</option>
                        <option value="5">Buku 5 : A Dance with Dragons</option>
                    </select>

                </div>
            </form>
        </div>

    </div>

    <img src="allBook copy.png" class="mt-8 - ml-24" id="gambarBuku">

    <canvas id="grafik" width="100" height="30" class="ml-24"></canvas>
    
    <%- include('footer.ejs') %>
</body>

<!--<script> 
    console.log(namaBuku1);
    if(document.getElementById("pilih-buku").value == 1 ){
        new Chart(document.getElementById("grafik"), {
    type: 'horizontalBar',
    data: {
      labels: namaBuku1,
      datasets: [
        {
          label: "Frekuensi",
          backgroundColor: ["#ec5800", "#f45b00","#fc5e00","#ff6206","#ffaf7a", "#ff670e", "#ff6d16", "#ff721e", "#ff7726", "#ff7c2e"],
          data: jumlahBuku1
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: false,
        text: 'Predicted world population (millions) in 2050'
      }
    }
    });
    }
    else if (document.getElementById("pilih-buku").value == 2){
        new Chart(document.getElementById("grafik"), {
    type: 'horizontalBar',
    data: {
      labels: ["Africa", "Asia", "Europe", "Latin America", "North America", "Indonesia", "Malaysia", "Singapore", "Aussie", "Brazil"],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#ec5800", "#f45b00","#fc5e00","#ff6206","#ffaf7a", "#ff670e", "#ff6d16", "#ff721e", "#ff7726", "#ff7c2e"],
          data: [2478,5267,734,784,433,500, 436, 826, 238, 163]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: false,
        text: 'Predicted world population (millions) in 2050'
      }
    }
});
    }
    else if (document.getElementById("pilih-buku").value == 3){
        new Chart(document.getElementById("grafik"), {
    type: 'horizontalBar',
    data: {
      labels: ["Africa", "Asia", "Europe", "Latin America", "North America", "Indonesia", "Malaysia", "Singapore", "Aussie", "Brazil"],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#ec5800", "#f45b00","#fc5e00","#ff6206","#ffaf7a", "#ff670e", "#ff6d16", "#ff721e", "#ff7726", "#ff7c2e"],
          data: [2478,5267,734,784,433,500, 436, 826, 238, 163]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: false,
        text: 'Predicted world population (millions) in 2050'
      }
    }
});
    
    }
    else if (document.getElementById("pilih-buku").value == 4){
        new Chart(document.getElementById("grafik"), {
    type: 'horizontalBar',
    data: {
      labels: ["Africa", "Asia", "Europe", "Latin America", "North America", "Indonesia", "Malaysia", "Singapore", "Aussie", "Brazil"],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#ec5800", "#f45b00","#fc5e00","#ff6206","#ffaf7a", "#ff670e", "#ff6d16", "#ff721e", "#ff7726", "#ff7c2e"],
          data: [2478,5267,734,784,433,500, 436, 826, 238, 163]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: false,
        text: 'Predicted world population (millions) in 2050'
      }
    }
});
    }
    else if (document.getElementById("pilih-buku").value == 5){
        new Chart(document.getElementById("grafik"), {
    type: 'horizontalBar',
    data: {
      labels: ["Africa", "Asia", "Europe", "Latin America", "North America", "Indonesia", "Malaysia", "Singapore", "Aussie", "Brazil"],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#ec5800", "#f45b00","#fc5e00","#ff6206","#ffaf7a", "#ff670e", "#ff6d16", "#ff721e", "#ff7726", "#ff7c2e"],
          data: [2478,5267,734,784,433,500, 436, 826, 238, 163]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: false,
        text: 'Predicted world population (millions) in 2050'
      }
    }
});
    }

    else{
        
    }

    
    
    
    </script>-->

</html>