<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
        <link rel="stylesheet" href="output.css" />
        <title>Game of Thrones: Pilih Nama</title>
    </head>
    
    <body class="bg-body font-poppins text-2xl text-text-color">
        <%- include('./header.ejs')  %>
        <div id="content-wrapper" class="px-24 mx-auto mt-8">
            <div id="form-wrapper" class="bg-pattern-pilih-buku bg-cover pt-52 pl-20 pb-20 rounded-lg">
                <h1 class="text-5xl font-bold mb-6">Frekuensi Interaksi Karakter</h1>
                <form action="">
                    <div class="grid grid-cols-3 gap-1 w-1/2">
                        <label for="pilih-buku">Pilih buku</label>
                        <select name="buku" id="pilih-buku"
                            class="col-span-2 focus:border-2 focus:border-sub-color rounded-md text-black">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <label for="cari-nama">Cari nama</label>
                        <input type="text" name="nama" id="cari-nama"
                            class="col-span-2 focus:border-2 focus:border-sub-color rounded-md text-black" />
                        <button type="submit" class="hover:bg-sub-alt-color rounded-lg bg-sub-color col-start-3">
                            Cari
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </body>
</html>