#penjelasan {
    position: relative;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

section img+div {
    width: 1280px;
    height: 720px;
    position: absolute;
    display: flex;
    background: linear-gradient(270deg, rgba(11, 11, 11, 0) 0%, #0B0B0B 100%, #0B0B0B 100%);
}

section img+div > div{
    align-self: flex-end;
    width: 50%;
    margin: 0 0 96px 96px;
    color: #ffffff;
}

#penjelasan+h1, #penjelasan+h1 + p {
    text-align: center;
}

#fitur-container {
    padding: 0 308px;
}

.card {
    width: 40%;
    margin: 4px;
    padding: 12px;
}